body  {
    
  background-image: url(images/Serenity.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
  
}


h2 {
  font-family: cursive;
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 2.3rem;
  color: black;
}


#img{
  float:left;
   width: 150px ;
   height:175px;
   border-radius: 50%;
   margin:30px;
      
  
}
#img2{
  float: right;
  width: 150px ;
  height:175px;
  border-radius: 50%;
  margin:30px;
}


#title2{
  text-align: center;
  text-decoration: underline;

}

/* --------------- */

section {
  
  min-height: 75vh;
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  
  position: absolute;
  top: 100px;
  font-family: cursive ;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.container_c {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: center;
  font-family: cursive;
}



