nav{
    background-color: red;
}
.words{
    padding-top: 2.5rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}

#img{
    float:left;
     width: 150px ;
     height:175px;
     border-radius: 50%;
     margin:30px;
        
    
}
#img2{
    float: right;
    width: 150px ;
    height:175px;
    border-radius: 50%;
    margin:30px;
}


#title2{
    text-align: center;
    text-decoration: underline;

}

h1{
    font-family: cursive;
    text-align: center;
    padding-top: 5rem;
}

#header{
    text-align: center;
}
content ul {font-family: sans-serif;
font-size: 1.5rem;}

#toTop{
    margin: 30px 0px 30px 0px;
    width:300px;
    

}

.form-Container{
    height:600px;
    display:flex;
    flex-direction: row;
    background-color: #f8f9fa;
    justify-content: space-around;
    margin-bottom: 30px;


}

.form{
    
    border:solid;
    border-color: #0dcaf0;
    padding:5%;
    margin: 10px;



}

.form-Result{
    width: 30%;
    border:solid;
    border-color: #0dcaf0;
    padding:5%;
    margin: 10px;
}

