body  {
    
    background-image: url(images/thinking-face-emoji.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:center center; 
    
  }
  
  h1 {
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem 2.5rem;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    color: black;
  }
  
  h2 {
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem 2.5rem;
    margin: 0 0 2rem 0;
    font-size: 2.3rem;
    color: black;
  }

  #fact {
    font-family: cursive;
    text-align: center;
    padding: 1.5rem 2.5rem;
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
    color: black;
  }

  #img{
    float:left;
     width: 150px ;
     height:175px;
     border-radius: 50%;
     margin:30px;
        
    
  }
  #img2{
    float: right;
    width: 150px ;
    height:175px;
    border-radius: 50%;
    margin:30px;
  }
  
  
  #title2{
    text-align: center;
    text-decoration: underline;
  
  }